body{
    background-color: rgb(239, 234, 234);
    margin: 0px;
}
.gt{
    background-color: whitesmoke;
    /* width: 80%; */
    margin: 10px;
    height: 45%;padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
button{
    float: right;
    background-color: red;
}
footer{
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(125, 120, 120);
    text-align: center;
    color:none;
}